.project {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  &__button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__image {
    width: 100%;
  }
}