.introduction {
  background-color: #4d7e86;
  padding: 20px 0 200px;

  &__content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}