.hero {
  background-color: white;
  padding: 100px 0 0;

  &__title {
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 32px;
    text-align: center;
  }

  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 100px 0;
  }

  &__avatar {
    width: 200px;
    display: block;
    border-radius: 50%;
  }

  &__image {
    width: 100px;
    position: absolute;
    animation: fadeInOut infinite;
    opacity: 0;

    @media screen and (max-width: 576px) {
      width: 50px;
    }
  }

  &__imageOne {
    right: 0;
    top: 145px;
    animation-duration: 5s;
  }

  &__imageTwo {
    right: 100px;
    top: 50px;
    animation-duration: 4s;
  }

  &__imageThree {
    right: 325px;
    top: 0;
    animation-duration: 6s;
  }

  &__imageFour {
    right: 220px;
    bottom: 50px;
    animation-duration: 7s;

    @media screen and (max-width: 991px) {
      right: 100px;
    }

    @media screen and (max-width: 576px) {
      right: 180px;
    }
  }

  &__imageFive {
    left: 200px;
    bottom: 30px;
    animation-duration: 3s;

    @media screen and (max-width: 991px) {
      left: 60px;
    }

    @media screen and (max-width: 576px) {
      left: auto;
      right: 50px;
      bottom: 155px;
    }
  }

  &__imageSix {
    left: -30px;
    top: 200px;
    animation-duration: 4.5s;

    @media screen and (max-width: 576px) {
      left: 10px;
    }
  }

  &__imageSeven {
    left: 210px;
    top: 50px;
    animation-duration: 6.5s;
  }

  &__imageEight {
    left: 50px;
    top: 50px;
    animation-duration: 5.5s;
  }

  &__imageNine {
    right: 0;
    bottom: 0;
    animation-duration: 7.5s;

    @media screen and (max-width: 576px) {
      bottom: 30px;
    }
  }

  @keyframes fadeInOut {

    0%,
    100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }
}