.skills {

  &__wrapper {
    transform: translateY(-100px);
    border-radius: 20px;
    background-color: white;
    padding: 50px;
    box-shadow: 0 6px 8.3px 6px rgba(95, 95, 95, 0.04);
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__subtitle {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 991px) {
        flex-direction: column;
      }
  }

  &__block {
    background-color: #4d7e86;
    padding: 15px 15px 15px 30px;
    border-radius: 8px;
    color: white;
    width: 100%;
  }

  &__blockTitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__blockItem {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
