.work {
  background-color: #4d7e86;
  padding: 20px 0 50px;

  &__content {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
  }

    &__text {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 16px;
    }
}